<%- include("partials/header") %>

<div class="jumbotron">
  <h1 class="display-4">Booking Confirmed.</h1>
  <p class="lead">Thanks for the booking. Get ready for an wonderful journey.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a>
</div>



<%- include("partials/footer") %>
