<%- include("partials/header") %>

    <img class="flightpic" src="images/flight.jpg" alt="">
    <div class="landing">
      <h1 style="font-size:4rem; position:relative; bottom:30px;">AIRBORNE.com</h1>
      <h4>"Book flight tickets with us for the Best deals and Quality travel.""</h4>
    </div>

    <div class="btns">
      <a class="btn1 btn btn-lg btn-outline-light" href="/auth">Login</a>
      <a class="btn2 btn btn-lg btn-outline-light" href="/register">Register</a>
    </div>


<%- include("partials/footer") %>
