<%- include("partials/header") %>

<div class="jumbotron">
  <h1 class="display-4">OOPS!!!</h1>
  <p class="lead">Invalid Username and/or Password.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="/auth" role="button">Try Again</a>
</div>



<%- include("partials/footer") %>
