<%- include("partials/header") %>

<div class="jumbotron">
  <h1 class="display-4">OOPS!!!</h1>
  <p class="lead">No flight on this date.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a>
</div>



<%- include("partials/footer") %>
