<%- include("partials/header") %>

<div class="jumbotron">
  <h1 class="display-4">Successfully Registered.</h1>
  <p class="lead">Welcome to the AIRBORNE family.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="/auth" role="button">Login</a>
</div>



<%- include("partials/footer") %>
